* {
    color: black;
    font-size: 16px;
    box-sizing: border-box;
}

#web-site-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#web-site {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* height: 100%; */
}

html, body {
    height: 100%;
    margin: 0;
}

#header-bottom {
    display: flex;
}
#header-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    border: 1px solid;
    flex: 1;
}

a {
    text-decoration: none;
}

#header-bottom>form>input{
    flex: 1;
    text-align: center;
    border: 1px solid;
    height: 100%;
    line-height: 38px;
    border-collapse: collapse;
    font-size: 22px;
    background-color: red;


}

#content-wrapper {
    display: flex;
    justify-content: center;
    background-color: green;
    flex: 1;
}

#content {
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
}

#footer {
    display: flex;
    background: yellow;
    height: 40px;
}

h1 {
    font-size: 36px;
    text-align: center;
}

.img {
    max-width: 100%;
    height: auto;
    width: auto;
    align-self: center;
    margin-bottom: 40px;
}

#ru {
    background-image: url(./img/ru.png);
    color: rgba(0, 0, 0, 0);
    border: 0;
    height: 23px;
    width: 44px;
}

#en {
    background-image: url(./img/en.png);
    color: rgba(0, 0, 0, 0);
    border: 0;
    height: 23px;
    width: 44px;
}

#footer {
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-grow: 1;
    justify-content: flex-end;
}

#lang-buttons {
    margin-right: 24px;

}