* {
    color: white;
    box-sizing: border-box;
}


#web-site-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#web-site {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* height: 100%; */
}

html, body {
    height: 100%;
    margin: 0;
}

#header-bottom {
    display: flex;
}

#header-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    border: 1px solid;
    flex: 1;
}

a {
    text-decoration: none;
}

#header-bottom>form>input {
    flex: 1;
    text-align: center;
    border: 1px solid;
    height: 100%;
    line-height: 38px;
    border-collapse: collapse;
    font-size: 24px;
    background-color: red;
}

#content-wrapper {
    display: flex;
    justify-content: center;
    background-color: green;
    flex: 1;
}

#content {
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
}

#footer {
    display: flex;
    max-height: 40px;
    background: yellow;
    height: 40px;
}

h1 {
    font-size: 56px;
    text-align: center;
}

.img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: 40px;
}

#ru {
    background-image: url(./img/ru.png);
    color: rgba(0, 0, 0, 0);
    border: 0;
    height: 23px;
    width: 44px;
}

#en {
    background-image: url(./img/en.png);
    color: rgba(0, 0, 0, 0);
    border: 0;
    height: 23px;
    width: 44px;
}

#footer {
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-grow: 1;
    justify-content: flex-end;
}

#lang-buttons {
    margin-right: 24px;
}

#aboutus-img {
    margin: 60px 0;
}

#map {
    width: 300px;
    /* height: 300px; */
    max-width: 100%;
    height: 50vh;
    /* width: 50vh; */
    align-self: center;
    margin-top: -40px;
    margin-bottom: 40px;
}

.gallery-img {
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

#gallery-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    justify-content: space-evenly;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

#gallery-title {
    background-image: url('img/gallery_title_bg.png');
    font-family: 'Caveat', cursive;
    margin-bottom: 30vh;

}

.ymaps-2-1-75-map, .ymaps-2-1-75-i-ua_js_yes, .ymaps-2-1-75-map-bg, .ymaps-2-1-75-islets_map-lang-ru {
    border-radius: 20px;
}

.ymaps-2-1-75-inner-panes {
    border-radius: 20px;
    border: 1px solid #00ADFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 20px;
}